# Miscellaneous
**/*.md
**/*.lock
**/*.DS_Store
.gitignore
*.class
*.log
*.pyc
*.swp
.history
*.iml
*.ipr
*.iws

# IntelliJ related
.idea/
.vscode/
.atom/
.buildlog/
.svn/
.git/
target/
temp?

# Exceptions to above rules.
!README.md